# Basic .gitattributes for a R repo.

# Source files
# ============
*.html linguist-vendored
*.Rdata linguist-language=R
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	linguist-language=R
*.R  	linguist-language=R